#home-img {
    background: url('/assets/dog1.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    filter: brightness(45%);

}


#home-img h1 {
    font-family: "Dancing Script", cursive;

}